.sixth-page {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left-block {
    flex: 1;
    position: relative;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo {
    max-height: 75vh;
    object-fit: cover;
}

.photo1 {
    position: absolute;
    width: auto;
    height: 37vh;
    top: 10%;
    left: 10%;
    border-radius: 8px;
}

.text1 {
    position: absolute;
    top: 39%;
    left: calc(4% + 30vh);
    width: 22vw;
    font-family: 'Playfair', serif;
    font-style: italic;
    font-size: 2vh;
    font-weight: 500;
    color: #750036;
}

.photo2 {
    position: absolute;
    width: auto;
    height: 37vh;
    bottom: 10%;
    left: 50%;
    border-radius: 8px;
}

.text2 {
    position: absolute;
    bottom: 17%;
    left: 10%;
    width: 25vw;
    font-family: 'Playfair', serif;
    font-style: italic;
    font-size: 2vh;
    color: #750036;
}

.right-photo {
    flex: 1;
    height: 100%;
    width: auto;
    object-fit: cover;
    align-self: stretch;
    border-radius: 14px 0 0 14px;
}
