.font-poppins {
    font-family: var(--font-poppins);
    font-weight: 600; /* semi-bold */
}

.font-playfair {
    font-family: var(--font-playfair);
}

.font-playfair-regular {
    font-family: var(--font-playfair);
    font-weight: 400;
}

.font-playfair-medium {
    font-family: var(--font-playfair);
    font-weight: 500;
}

.font-playfair-italic {
    font-family: var(--font-playfair);
    font-style: italic;
    font-weight: 400;
}

.font-playfair-medium-italic {
    font-family: var(--font-playfair);
    font-style: italic;
    font-weight: 500;
}

.font-manrope {
    font-family: var(--font-manrope);
}

.font-manrope-regular {
    font-family: var(--font-manrope);
    font-weight: 400;
}

.font-manrope-semibold {
    font-family: var(--font-manrope);
    font-weight: 600;
}
