.first-page-container {
    z-index: 1001;
    position: relative;
    width: 100%;
    height: 100vh; /* весь экран */
    overflow: hidden;
}

.first-page-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* обрезает, но без пробелов */
    object-position: center;
    display: block;
    pointer-events: none;
    user-select: none;
}
