@import './styles/fonts.css';
@import './styles/utilities.css';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  z-index: 0;
  background: white;
}

/* global.css или App.css */
.header-fixed-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1002;
  pointer-events: none;
  color: white; /* базовый цвет для difference */
  mix-blend-mode: difference;
  transition: mix-blend-mode 0.3s ease;
}

.header-fixed-wrapper.no-blend {
  mix-blend-mode: normal;
  color: white;
}

.header-fixed-wrapper .header {
  pointer-events: all;
}


/* header.css */
.header {
  height: 64px;
  background: transparent;
  padding: 0 40px;
}


