.fourth-page {
    width: 100%;

}

#fourth-section {
    margin: auto;
    padding: 0 5vw 5vw;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* по вертикали */
}

.title-block {
    text-align: left;
    margin-bottom: 48px;
    position: relative;
}

.title-emotion {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 65px;
}

.title-sub {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 65px;
    line-height: 1.2;
    margin-top: -8px;
}

.title-small {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 14px;
    color: #197d6e;
    position: absolute;
    top: 20px;
    right: 0;
    text-align: right;
    line-height: 1.4;
}

.carousel .slick-dots {
    margin-top: 32px;
}

/* Убираем ограничения от slick */
.slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    list-style: none;
    padding: 0;
    gap: 0;
}

/* Убираем фиксированные размеры у контейнеров точек */
.slick-dots li {
    width: auto !important;
    height: auto !important;
    display: flex !important;
    align-items: center;
    padding: 0;
    margin: 0 !important;
}

/* Сама точка */
.custom-dot {
    height: 8px;
    background-color: #007C5A;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-left: 12px;
}

/* Первая точка — без отступа */
.slick-dots li:first-child .custom-dot {
    margin-left: 0;
}

/* Активная точка — растянутая */
.slick-dots li.slick-active .custom-dot {
    width: 40px;
}

/* Неактивные — круг */
.slick-dots li:not(.slick-active) .custom-dot {
    width: 8px;
    border-radius: 50%;
}


.carousel-item {
    display: flex !important;
    gap: 24px;
    align-items: flex-start;
    padding: 8px;
}

.carousel-image {
    width: 240px;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.carousel-text {
    max-width: 210px;
}

.carousel-name {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
}

.carousel-quote {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 45px;
}
